* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {  
    margin: 0;
    padding: 5%;
    text-align: center;
    background-image: url("tornersvag.png");
    background-position: center;
    background-size: cover;
    background-color: #ddd;
}

.navbar {
    overflow: hidden;
    background-color: #ED7D31;

}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd; 
    color: black; 
}

.header h1 {
    font-size: xx-large;
}

h1 {
    color: rgb(0, 0, 0)
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 2000px;
    flex: 80%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
